// vars
@bodyOffset: 30px;

// style
body, html {
  height: 100%;
}

#menu {
  min-height: 30px;
  background-image: linear-gradient(to bottom, #fff, #eee);
  margin: 0;
  .navbar-header {
    .navbar-brand {
      font-size: 1.0em;
      margin: 0 10px;
      padding: 5px 0 5px 30px;
      background: url('../assets/img/logo.png') left center no-repeat;
      background-size: 20px;
    }
  }
  .navbar-collapse {
    ul {
      li {
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}

/*
#footer {
  min-height: @bodyOffset;
  border-top: 1px solid #ddd;
  background-image: linear-gradient(to bottom, #eee, #ddd);
  font-size: 11px;
  font-weight: bold;
  color: #888;
  span {
    padding: 0px 0px 0px 20px;
  }
}
*/

#submenu {
  min-height: 30px;
  padding: 0px 0px;
  .navbar-collapse {
    ul {
      li {
        a {
          padding: 5px 5px 5px 5px;
        }
      }
    }
  }
}

#container {
  @padding: 7px;
  @containerOffset: @padding;
  background-image: linear-gradient(to bottom, #eee, #ccc);

  position: absolute;
  top: @bodyOffset+7px;
  bottom: @containerOffset;
  left: @containerOffset;
  right: @containerOffset;
  //border: 1px dotted #000;
  border-radius: 7px;
  padding: @padding;
  #main {
    @mainWidth: 75%;
    //border: 1px dotted #000;
    border-radius: 7px;
    padding: @padding;
    height: 100%;
    background: #fff;

    /*
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    */
    #left, #center, #right {
      height: 100%;
      min-height: 100%;
      overflow-y: auto;
      padding: @padding;
      border-radius: 7px;
    }
    #left, #center {
      float: left;
    }
    #left, #right {
      background: #eee;
      width: (100%-@mainWidth)/2;
    }
    #left {
    }
    #center {
      width: @mainWidth;
    }
    #right {
      float: right;
    }
  }
}
