// vars
@bodyOffset: 20px;

// style
body, html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  overflow: hidden;
}

#menu {
  min-height: 30px;
  background-image: linear-gradient(to bottom, #fff, #eee);
  margin: 0;
  .navbar-header {
    .navbar-brand {
      font-size: 1.0em;
      margin: 0 10px;
      padding: 5px 0 5px 30px;
      background: url('../assets/img/logo.png') left center no-repeat;
      background-size: 20px;
    }
  }
  .navbar-collapse {
    ul {
      li {
        a {
          padding: 5px 10px;
        }
      }
    }
  }
}

#footer {
  min-height: @bodyOffset;
  border-top: 1px solid #ddd;
  background-image: linear-gradient(to bottom, #eee, #ddd);
  font-size: 11px;
  font-weight: bold;
  color: #888;
  span {
    padding: 0px 0px 0px 20px;
  }
}

#submenu {
  min-height: 30px;
  padding: 0px 0px;
  .navbar-collapse {
    ul {
      li {
        a {
          padding: 5px 5px 5px 5px;
        }
      }
    }
  }
}


#main {
  margin: 0 auto;
  height: 100%;
  padding: 0px 0;

  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
*/
  #left, #center, #right {
    height: 100%;
    min-height: 100%;
    overflow: scroll;
  }

  #left, #center {
    float: left;
  }

  #left {
    padding: 10px;
    background: #bbb;
    width: 15%;
  }

  #center {
    padding-top: 0;
    width: 70%;
  }

  #right {
    padding: 10px;
    background: #ddd;
    float: right;
    width: 15%;
  }
}
