<style>
.node {
  padding-bottom: 10px;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      Displaying {{npData.length}} nodes<br/>

      <table class="table table-stripped">
        <tbody ng-repeat="np in npData">
          <tr>
            <th scope="row">{{np.node.type}}/{{np.node.id}}</th>
            <td class="text-right"><a ui-sref="nodes.details({nodeId: np.node.id, nodeType: np.node.type})" class="btn btn-primary">ports</a>
            <a ui-sref="flows.node({nodeType:'OF', nodeId:np.node.id})" class="btn btn-primary">flows</a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Description : {{np.properties.description.value}}<br />
              MAC : {{np.properties.macAddress.value}}
              </dl>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <div ui-view></div>
    </div>
  </div><!-- row -->
</div>