<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title ng-bind="'ODL UI - ' + $state.current.name"></title>

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>

<body>
  <div id="top" ng-if="authed">
    <div id="logo">
      <a ui-sref="index">Open<span>Daylight</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User: {{user.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="user.preferences">Preferences</a></li>
          <li><a ui-sref="logout">Logout</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{ active: $state.includes('about') }"><a ui-sref="about()">About</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="main" ng-if="authed">
    <div id="left-cover">
      <div id="left">
        <div class="top pane">
          <div class="title">Menu</div>
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: $state.includes('nodes') }"><a ui-sref="nodes">Nodes</a></li>
            <li ng-class="{ active: $state.includes('flows') }"><a ui-sref="flows.list">Flows</a></li>
            <li ng-class="{ active: $state.includes('topology') }"><a ui-sref="topology">Topology</a></li>
            <li ng-class="{ active: $state.includes('network') }"><a ui-sref="network">Networking</a></li>
          </ul>
        </div>
        <div class="bottom pane">
          <div class="title">Nodes</div>
          <div id="submenu" class="navbar navbar-default">
            <div class="collapse navbar-collapse ">
              <ul class="nav navbar-nav">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This is the "main" content div, it holds a contextual menu for the current view on the top and shows useful things underneith-->
    <div id="center-cover">
      <div id="center">
        <div ui-view></div>
      </div>
    </div>

    <div id="right-cover">
      <div id="right" ui-view="right">
        <span>Current state path: {{$state.current.name}}</span><br/>
        <span>stateParams: {{$stateParams}}</span>
      </div>
    </div>
  </div>

  <div ng-if="!authed" ui-view></div>
</body>
</html>
